@font-face {
    font-family: 'champagne';
    src: url('../font/champagne.ttf');
}

body {
	height: 100%;
	margin: 0;
}

html {
	/*background-color: rgb(22, 135, 160);*/
	background-image: url('https://wallpaperscraft.com/image/cumbria_england_lake_sky_106212_1920x1080.jpg');
	margin-top: 0px;
	height: 100%;
}
/* --------------------------------[ Header ]--------------------------------*/
.logo_beta {
	position: absolute;
	top: -3px;
}

.logo_nom {
	text-align: center;
}

.img_nom {
	width: 500px;
	height: 200px;
}

.img_steam_login {

	margin-top: -110px;
	float: right;
	margin-right: 30px;
}
/* --------------------------------[ Contenu de page ]--------------------------------*/

.contenu_page {
}

.image-haut {
	margin: 0 auto;
}

.serveur_liste {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}

.logo_serveur-1 {
    width: 565px;
	height: 250px;
	margin-right: 65px;
	-webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
}

.logo_serveur-2 {
    width: 565px;
	height: 250px;
	-webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	}

.logo_serveur-3 {
    width: 565px;
	height: 250px;
	-webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: block;
    margin: 55px auto 0;
}

/* --------------------------------[ Footer info et copyright ]--------------------------------*/

.pour_le_footer {
  min-height: 100%;
  margin-bottom: -70px; /* FOOTER : A CHANGER EN MEME TEMPS */
}

.pour_le_footer:after {
  content: "";
  display: block;
}

.footer, .pour_le_footer:after {
    margin-top: 20px;
    height: 40px; /* FOOTER : A CHANGER EN MEME TEMPS */
}
.footer {
	padding: 5px;
	background-color: rgb(50, 50, 50);
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
}
.footer_info {
	color: white;
	text-align: center;
	font-family: 'Trebuchet MS';
}
.copyright {
	font-family: 'Trebuchet MS';
	text-align: center;
	color: white;
}