@font-face {
    font-family: 'champagne';
    src: url('../font/champagne.ttf');
}

body {
    height: 100%;
    margin: 0;
}

html {
    /*background-color: rgb(22, 135, 160);*/
    background: url('../img/bg_site.jpg') no-repeat center;
    margin-top: 0px;
    height: 100%;
}
/* --------------------------------[ Header ]--------------------------------*/
.header {
    margin: 0;
}

.logo_beta {
    position: absolute;
    top: -3px;
}

.logo_nom {
    text-align: center;

}

.img_nom {
    width: 500px;
    height: 200px;
}

.connected {
    width: 200px;
    height: 100px;
    float: right;
    margin-top: -125px;
}

.login_bouton {
    margin-top: -110px;
    float: right;
    margin-right: 30px;
}

.logout_bouton {
        text-align: center;
}

.design_login {
    outline: none;
}

.design_logout {
    border: 0;
    width: 110px;
    padding: 12px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: background .3s;
    -webkit-transition: background .3s;
    outline: none;
    margin-right: -5px;
    background-color: rgb(175, 11, 11);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.design_logout:hover {
    box-shadow: 0 2px rgba(14, 73, 103, 0.75);
    transform: translateY(2px);
}

.img_avatar_steam {
    margin-top: -130px;
    float: right;
    margin-right: 30px;
}

.pseudo_steam {
    text-align: center;
    font-family: 'Trebuchet MS';
    text-shadow: 2px 2px 5px rgba(50, 50, 50, 1);
}
/* --------------------------------[ Contenu de page ]--------------------------------*/
.hover-serveur-1 {
    width: 565px;
    height: 250px;
    border: 2px solid black;
}
.contenu_page {
}

.image-haut {
    margin: 0 auto;
}

.serveur_liste {
    text-align: center;
    margin-bottom: 20px;
    margin: 50px auto;
}

.logo_serveur-1 {
    width: 565px;
    height: 250px;
    margin-right: 65px;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.logo_serveur-2 {
    width: 565px;
    height: 250px;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    }

.logo_serveur-3 {
    width: 565px;
    height: 250px;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: block;
    margin: 55px auto 0;
}

/* --------------------------------[ Footer info et copyright ]--------------------------------*/

.pour_le_footer {
  min-height: 100%;
  margin-bottom: -70px; /* FOOTER : A CHANGER EN MEME TEMPS */
}

.pour_le_footer:after {
  content: "";
  display: block;
}

.footer, .pour_le_footer:after {
    margin-top: 20px;
    height: 40px; /* FOOTER : A CHANGER EN MEME TEMPS */
}
.footer {
    padding: 5px;
    background-color: rgb(50, 50, 50);
    text-align: center;
    -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         inset 0px 0px 9px 2px rgba(0, 0, 0, 0.5);
}
.footer_info {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS';
}
.copyright {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: white;
}
/* --------------------------------[ RESPONSIVE ]--------------------------------*/

@media screen and (max-width: 1200px) {

html {
    /*background-color: rgb(22, 135, 160);*/
    background: url('https://wallpaperscraft.com/image/cumbria_england_lake_sky_106212_1920x1080.jpg') no-repeat;
    margin-top: 0px;
    height: 100%;
}
.contenu_page {
}

.image-haut {
    margin: 0 auto;
}

.serveur_liste {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.logo_serveur-1 {
    width: 565px;
    height: 250px;
    margin-right: 0px;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}

.logo_serveur-2 {
    width: 565px;
    height: 250px;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    }

.logo_serveur-3 {
    width: 565px;
    height: 250px;
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: block;
    margin: 1px auto 0;
}

.footer_info {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS';
}
.copyright {
    font-family: 'Trebuchet MS';
    text-align: center;
    color: white;
}


}
